@page
@model MascotaFeliz.App.Frontend.Pages.UnVeterinarioModel
@{
}
<style>
  #buscador{
  margin: 100px auto;
  padding: 10px; 
  height: 40px;
  width: 500px; 
}
</style>

 <div class="input-group" id="buscador">
  <input type="search" class="form-control rounded" placeholder="Consultar Un Veterinario" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">Consultar Un Veterinario</button>
</div>
