@page
@model MascotaFeliz.App.Frontend.Pages.IntegrantesEquipoModel
@{
}
 <div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Index">Inicio</a></li>
    <li class="breadcrumb-item" aria-current="page">Acerca</li>
    <li class="breadcrumb-item active" aria-current="page">Del Proyecto</li>
  </ol>
</nav>
</div> 

<div class="ContenedorEquipo">
 <table class="table table-striped table-bordered border-dark">
        <thead>
          <tr>
            <th colspan="6" class="texto" >Áreas E Integrantes Del Proyecto</th>
            
          </tr> 
        
        </thead>
          <tbody>
             <tr class="texto">
              <th>Nombre Del Área</th>
              <td>Líder del equipo</td>
              <td>Gestor BD</td>
              <td>Desarrollador Frontend</td>
              <td>Desarrollador Backend</td>
              <td>Tester</td>
            </tr>
            <tr class="texto">
              <th>Nombre Del Profesional</th>
              <td colspan="5">Socrates palacios moreno</td>
          
            </tr>
          </tbody>
        </table>
</div>
<div class="ContenedorEquipo">
    <h1>Información Acerca Del Proyecto</h1>
    <p><strong>Este es un proyecto para Utp-MisionTic 2022.</strong> En el cual se debe presentar un proyecto para el ciclo número 3.
        En el cual se debe trabajar con diferentes áreas del equipo agil.
      </br></br>
        Se realiza con el apoyo del profesor <strong>Carlos Fadul</strong>, ya que soy integrante del grupo 8 del ciclo 3.
</p>
 </div>  
 
 <div class="ContenedorEquipo">
    <h1> Información Acerca Del Negocio</h1>
    <p>   El objetivo del negocio es realizar <strong>visitas domiciliarias</strong> a los clientes de la empresa, con esto permitiremos que las moscotas esten en un  lugar donde estas más comodos.
      </br></br>
       Con esto llevaremos un registro que sería parte de la historia clinica de la mascota y tener una atención mucho más comoda y eficaz. 
</p>
 </div> 