@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<div>
<table class="table table-striped">
  <thead>
     <th>Nombre</th>
     <th>Color</th>
     <th>Especie</th>
     <th>Raza</th>
     <th>Ver Detalles</th>
     <th>Editar</th>
       
  </thead>
  <tbody>
   jjjjj
  </tbody>
</table>
</div>

</table>
