<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicación Mascota Feliz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
 <!-- <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="~/css/site.css" />
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href=" https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <i class="bi bi-7-square"></i>
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="https://img.icons8.com/laces/64/000000/home.png" alt="Mascota Feliz Icon" width="45px" height="45px" ></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                       
 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLinkveterinario" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Veterinario
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkveterinario">
            <li><a class="dropdown-item"  asp-area="" asp-page="/Veterinarios/RegistrarVeterinarios">Registrar Veterinario</a></li>
            <li><a class="dropdown-item" asp-area="" asp-page="/Veterinarios/ListaVeterinarios">Consulta De Veterinarios</a></li>
          </ul>
        </li>

                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLinkvdueno" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Propietario
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkvdueno">
            <li><a class="dropdown-item" asp-area="" asp-page="/Duenos/RegistrarDueno">Registrar Propietario</a></li>
            <li><a class="dropdown-item" asp-area="" asp-page="/Duenos/ListaDuenos">Consulta De Propietarios</a></li>
          </ul>
        </li>        
                       
                        
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLinkMascota" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Mascota
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkMascota">
            <li><a class="dropdown-item" asp-area="" asp-page="/Mascotas/RegistrarMascotas">Registrar Mascota</a></li>
            <li><a class="dropdown-item"  asp-area="" asp-page="/Mascotas/ListaMascotas">Consulta De Mascotas</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLinkMascota" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Visita
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkVisita">
            <li><a class="dropdown-item" asp-area="" asp-page="/Visitas/RegistrarVisitas">Registrar Visita</a></li>
            <li><a class="dropdown-item"  asp-area="" asp-page="/Visitas/ListaVisitas">Consulta De Visitas</a></li>
          </ul>
        </li>


 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLinkAcerca" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Acerca
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAcerca">
            <li><a class="dropdown-item"  asp-area="" asp-page="/Acerca/IntegrantesEquipo">Del Proyecto</a></li>
             <li><a class="dropdown-item"  asp-area="" asp-page="/Acerca/informacionProyecto">De la Ubicación</a></li>
              <li><a class="dropdown-item"  asp-area="" asp-page="/Acerca/informacionNegocio">De Contactarnos</a></li>
          </ul>
        </li>



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-primary text-center text-white text-lg-start">
     <div class="container text-center">
        &copy; 2022 - Proyecto Ciclo 3: - <a class="text-white">MascotaFeliz</a>
    </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

 
    @RenderSection("Scripts", required: false)

    
<script src= "https://code.jquery.com/jquery-3.5.1.js"></script>
<script src= " https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src= " https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script>
  $(document).ready(function () {
    $('#tableVeterinario,#tableDueno,#tableMascota').DataTable({
      "language": {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
         "zeroRecords": "Sin resultados encontrados",
    "search": "Buscar:",
     "paginate": {
                "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
  },
      scrollY: 500,
      scrollCollapse: true,
    columnDefs: [
    { orderable: false, targets: [-1,-2,-3] }
  ]
    });
});
</script>
</body>
</html>
